<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>ng-routingdemo</h1>
      <p>This is the AppComponent with <code>&lt;router-outlet&gt;</code> below.</p>
      <hr> 
      <div class="outlet"> 
        <router-outlet></router-outlet>
      </div>
   </div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
          { title: 'Home', link: 'home' },
          { title: 'Not existent', link: brokenLink  },
          { title: 'Feature B - A', link: "/featureb/a"  },
          { title: 'Feature B - B', link: "/featureb/b"  },
          { title: 'Feature A', link: "/featurea"  },
        ]; track item.title) {
          <a
            class="pill"
            [routerLink]="item.link"
            routerLinkActive="active"
          >
            <span>{{ item.title }}</span>
          </a>
        }
      </div>
    </div>
  </div>
</main>

