<img src="/assets/homesweethome.png" alt="Home sweet home">
<ul>
    <li>
        Feature A
        <ul>
            <li><a routerLink="/featurea/first">First (/featurea/first)</a></li>
            <li><a routerLink="/featurea/second">Second (/featurea/second) ... is delayed</a></li>
        </ul>
    </li>
    <li>
        Feature B. These routes are not nested.
        <ul>
            <li><a routerLink="/featureb/a">Component A (/featureb/a)</a></li>
            <li><a routerLink="/featureb/b">Component B (/featureb/b)</a></li>
        </ul>
    </li>
</ul>
<hr>
<a href="https://pixabay.com/de/illustrations/h%C3%B6lzern-unterzeichnen-trautes-heim-4000126/" target="_blank">Pixabay Link</a>
